{
   "trailingComma": "es5",
   "singleQuote": true,
   "printWidth": 120,
   "parser": "flow",
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "endOfLine": "lf",
   "tabWidth": 2,
   "useTabs": false
}
